#titre {
	font-size: 40px;
}

h1{
	text-align: center ;
}

.body1, .body2, .body3{
	border : solid red 1px;
}

#search{
	margin-left: 90%;
}

body{
	margin : 0 ;
	padding : 0 ;
	background-color: #f6ea8c;

}

.content{
	border : solid red 1px;

}

.tavern, .job, .dating, .eventTlse, .handicap, .prepareEntretien{
	border : solid red 1px;
	height: 75px;
	display: flex;
	align-items: center;
}

.sujet{
	margin-top : 5px;
}

.title {
	text-align: center;
	padding: 30px;
	border: black  solid 1px;
}
.ui.checkbox {
	padding-top: 10px;
}

.pages{
	background-color : white;
	height: 500px;
	text-align: center; 
}

.mentions{
	display : flex ;
	justify-content: center;
}

